<nav class="navbar sticky-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      GA Testwork (Angular, Symfony, Bootstrap)
    </a>
  </div>
</nav>
<div class="container py-3 main">
  <app-login *ngIf="!logIn"></app-login>
  <app-profile *ngIf="logIn"></app-profile>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light d-none d-xl-block">
  <div class="container">
    <a class="navbar-brand" href="#">Тестовое задание для GreenAtom</a>
    <span>Автор: Николай Сивцев</span>
  </div>
</nav>
